# Godot-specific
.import/
.export/
export.cfg
export_presets.cfg

# Build output (if exported here)
build/
*.exe
*.pck
*.console
data_*/

# Mono (C#)
.mono/
*.dll
*.exe
*.pdb
*.mdb
*.pidb
*.sln
*.csproj
*.user
*.cache

# Ignore Godot editor user settings
.godot/editor/
.godot/mono/metadata/
.godot/mono/*.csproj.user
.godot/mono/*.csproj.DotSettings
.godot/mono/FungFer.AssemblyInfo.cs

# Ignore cache
.import/
filesystem_cache*

# VS / build cache
.vs/
*.pidb


# OS junk
.DS_Store
Thumbs.db
desktop.ini
